///////////////////////////////////////////////
////////// variables
///////////////////////////////////////////////

$color-orange-light: #ef8f42;
$color-orange: #e86d32;
$color-green-light: #9cb620;
$color-green-medium: #7ea01b;
$color-green-dark: #3a7702;