/*********************************************
*********** general
**********************************************/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  color: #000;
}

a,
button {
  transition: .4s;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: auto;
  margin: auto;
}

fieldset {
  display: block;
  width: 100%;
  border: none;
}

button {
  background: none;
  border: none;
}

label {
  position: relative;
}

input[type='text'],
input[type='password'],
input[type='search'],
input[type='email'],
input[type='tel'] {
  padding: 0 15px;
  display: block;
  width: 100%;
  height: 38px;
  resize: none;
  border: 1px solid #d2dfc6;
  border-radius: 8px;
}

.form-note {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #000;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  margin: auto;
  z-index: 1;
  cursor: pointer;

  & + input {
    padding: 0 40px 0 15px;
  }

}

a:hover,
a:active,
a:focus,
button:hover,
button:active,
button:focus,
input:hover,
input:active,
input:focus,
textarea:hover,
textarea:active,
textarea:focus {
  outline: none;
}

textarea {
  display: block;
  width: 100%;
  height: 150px;
  resize: none;
  border: 1px solid #d2dfc6;
  border-radius: 8px;
  padding: 8px 15px;
}

input::-webkit-input-placeholder {
  color: #000;
  font-size: 14px;
  font-weight: 500;
  opacity: 1;
}

input::-moz-placeholder {
  color: #000;
  font-size: 14px;
  font-weight: 500;
  opacity: 1;
}

input:-moz-placeholder {
  color: #000;
  font-size: 14px;
  font-weight: 500;
  opacity: 1;
}

input:-ms-input-placeholder {
  color: #000;
  font-size: 14px;
  font-weight: 500;
  opacity: 1;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

textarea::-webkit-input-placeholder {
  color: #000;
  font-size: 14px;
  font-weight: 500;
  opacity: 1;
}

textarea::-moz-placeholder {
  color: #000;
  font-size: 14px;
  font-weight: 500;
  opacity: 1;
}

textarea:-moz-placeholder {
  color: #000;
  font-size: 14px;
  font-weight: 500;
  opacity: 1;
}

textarea:-ms-input-placeholder {
  color: #000;
  font-size: 14px;
  font-weight: 500;
  opacity: 1;
}

textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

textarea:focus::-moz-placeholder {
  color: transparent;
}

textarea:focus:-moz-placeholder {
  color: transparent;
}

textarea:focus:-ms-input-placeholder {
  color: transparent;
}

.preloader {
  display: block;
  width: 100vw;
  height: 100vh;
  background: #fff;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1003;
}

body {
  background: #85c36c url(../images/background-general.png) no-repeat center top;

  &.page-main {
    background: url(../images/background-general.png) no-repeat center top, #85c36c url(../images/background-general-index.png) no-repeat center top;
  }

  @media(max-width: 768px) {
    background: #85c36c url(../images/background-general-768.png) no-repeat center top!important;
  }

  @media(max-width: 480px) {
    background: #85c36c url(../images/background-general-320.png) no-repeat center top!important;
    background-size: 100% auto!important;
  }

}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  max-width: 1230px;
  min-width: 320px;
  margin: 0 auto;

  @media(max-width: 1230px) {
    overflow: hidden;
  }

}

main {
  display: block;
  width: 100%;
  flex-grow: 1;
  background: #fff;
}

nav a {
  display: inline-block;
  vertical-align: middle;
  margin: 0 15px 0 0;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  position: relative;

  &[href]:hover {
    color: $color-green-light;
  }

  .bookmarks-amount {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 10px;
    font-weight: 700;
    color: #fff;
    background: $color-green-medium;
    position: absolute;
    right: -25px;
    top: -1px;
  }

}

.header-burger {
  display: none;
}

.content-columns {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.content {
  padding: 30px 30px 45px;
}

article {
  padding: 25px 30px;
}

aside {
  display: block;
  width: 250px;
  background: #ececec;
  padding: 30px 25px;
}

.aside-burger {
  display: none;
}

.aside-title {
  display: block;
  text-align: right;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #c6cacc;
  box-shadow: 0 1px 0 0 #fff;
  color: $color-green-dark;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 1;
  position: relative;
  margin: 0 0 20px 0;

  &:before {
    content: '';
    display: block;
    width: 29px;
    height: 31px;
    background: url(../images/icon-aside-title.png) no-repeat center;
    position: absolute;
    bottom: -2px;
    left: -10px;
  }

}

.show-more {
  color: $color-orange-light;
  font-weight: 500;
  transition: .4s;
  text-decoration: none;

  span {
    display: inline-block;
    margin: 0 0 0 2px;
    transition: .4s;
  }

  &:hover {
    color: $color-green-light;

    span {
      margin: 0 0 0 7px;
    }

  }

}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}

input[type="checkbox"] + label i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid #d2dfc6;
  color: transparent;
  background: #fff;
  margin: 0 10px 0 0;
}

input[type="checkbox"]:checked + label i {
  color: $color-green-dark;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  position: relative;
}

input[type="radio"] + label:before {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #d2dfc6;
  color: transparent;
  background: #fff;
  margin: 0 10px 0 0;
}

input[type="radio"]:checked + label:after {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  color: transparent;
  background: $color-green-dark;
  margin: auto;
  position: absolute;
  left: 5px;
  top: 0;
  bottom: 0;
}

.aside-button {
  display: block;
  width: 100%;
  max-width: 200px;
  background: radial-gradient(circle closest-corner at 20px center, $color-green-light, $color-green-medium);
  border-radius: 8px;
  padding: 15px 20px;
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  margin: 20px 0 0 0;
  border: none;

  &:before {
    display: none;
  }

  &:hover {
    background: radial-gradient(circle closest-corner at 20px center, $color-orange-light, $color-orange);
    color: #fff;
  }

}

@media(max-width: 1230px) {

  nav {

    a {
      font-size: 12px;
      margin: 0 10px 0 0;

      .bookmarks-amount {
        width: 16px;
        height: 16px;
        font-size: 10px;
        position: absolute;
        right: -20px;
      }

    }

  }

}

@media(max-width: 980px) {

  nav {

    a {
      font-size: 9px;

      .bookmarks-amount {
        font-size: 8px;
        top: -3px;
      }

    }

  }

}

@media(max-width: 768px) {

  .header-burger {
    display: block;
    width: 40px;
    height: 39px;
    background: url(../images/icon-background-green.png) no-repeat center;
    position: absolute;
    left: 20px;
    top: 0;
    bottom: 0;
    margin: auto;
    transition: .4s;
    z-index: 1002;

    .burger-top,
    .burger-center,
    .burger-bottom {
      display: block;
      width: 20px;
      height: 2px;
      background: #fff;
      position: absolute;
      left: 7px;
      transition: .4s;
      transform-origin: left center;
    }

    .burger-top {
      top: 13px;
    }

    .burger-center {
      width: 10px;
      margin: auto;
      top: 0;
      bottom: 0;
    }

    .burger-bottom {
      bottom: 12px;
    }

    &.active {

      .burger-top {
        left: 12px;
        top: 11px;
        transform: rotate(45deg);
      }

      .burger-center {
        left: 50%;
        width: 0;
      }

      .burger-bottom {
        left: 12px;
        transform: rotate(-45deg);
      }

    }

  }

  nav {
    display: block;
    width: 100%;
    position: fixed;
    left: 120%;
    top: 0;
    padding: 80px 30px 30px;
    background: #000;
    z-index: 1000;
    transition: .4s;

    a {
      display: block;
      font-size: 16px;
      line-height: 30px;

      .bookmarks-amount {
        display: inline-flex;
        vertical-align: middle;
        margin-left: 10px;
        width: 20px;
        height: 20px;
        font-size: 12px;
        position: static;
      }

    }

    &.active {
      left: 0;
    }

  }

  .content-columns {
    flex-wrap: wrap;
  }

  aside {
    width: 100%;
    order: 2;
    padding: 30px;
  }

  .page-inner aside {
    order: 1;
    padding: 0 20px;

    .aside-list,
    .form-filter {
      display: none;
      margin: 30px 0;

      br {
        display: none;
      }

    }

    &.active {

      .aside-list,
      .form-filter {
        display: block;
      }

    }

  }

  .aside-burger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 15px 0;

    &:before {
      content: '';
      display: block;
      width: 29px;
      height: 31px;
      background: url(../images/icon-aside-title.png) no-repeat center;
    }

  }

  .aside-burger-hidden,
  .aside-burger-visible {
    color: $color-green-dark;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
  }

  .aside-burger-visible {
    display: none;
  }

  aside.active .aside-burger-visible {
    display: block;
  }

  aside.active .aside-burger-hidden {
    display: none;
  }

  .aside-title {
    text-align: left;

    &:before {
      display: none;
    }

  }

}