/*********************************************
*********** aside-catalog
**********************************************/

.aside-catalog {
  margin: 0 0 35px 0;

  a {
    display: block;
    padding: 5px 0 5px 20px;
    position: relative;
    font-weight: 500;

    &:before {
      content: '';
      display: block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: $color-orange;
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      left: 0;
    }

    &:hover {
      color: $color-orange;
      text-decoration: none;
    }

  }

}

@media(max-width: 768px) {

  .aside-catalog {
    display: none;
  }

}