/*********************************************
*********** custom-select
**********************************************/

.custom-select {
  position: relative;

  .current-value {
    width: 200px;
    height: 42px;
    padding: 0 40px 0 15px;
    line-height: 42px;
    background: #eceeeb;
    border-radius: 8px;
    position: relative;
    transition: .4s;
    cursor: pointer;

    &:before {
      content: '\f078';
      font-family: FontAwesome;
      display: block;
      color: $color-orange;
      font-size: 18px;
      line-height: 42px;
      position: absolute;
      top: 0;
      right: 10px;
      margin: auto;
      transform-origin: center;
    }

    &:hover {
      color: $color-orange;
    }

  }

  ul {
    display: none;
    width: 100%;
    position: absolute;
    left: 0;
    top: calc(100% + 5px);
    background: #eceeeb;
    border-radius: 8px;
    padding: 5px 10px;
  }

  li {
    display: block;
    padding: 10px 15px;
    border-bottom: 1px solid $color-orange;
    cursor: pointer;

    &:hover {
      color: $color-orange;
    }

    &:last-child {
      border-bottom: none;
    }

  }

  label {
    display: none;
  }

  &.active {

    ul {
      display: block;
    }

    .current-value:before {
      content: '\f077';
    }

  }

}

@media(max-width: 980px) {

  .custom-select .current-value {
    width: 150px;
  }

}