/*********************************************
*********** header
**********************************************/

header {
  flex-grow: 0;
}

/* header-nav */

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: rgba(0, 0, 0, .5);
  padding: 15px 25px;
  position: relative;
}

.header-cart {
  display: flex;
}

.header-cart-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px 0 0;
  width: 40px;
  height: 39px;
  position: relative;
  margin: 0 20px 0 0;
  background: url(../images/icon-background-orange.png) no-repeat center;

  img {
    width: 25px;
  }

  .header-cart-amount {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: -3px;
    right: -5px;
    font-weight: 700;
    font-size: 10px;
  }

  &:hover {
    background: url(../images/icon-background-green.png) no-repeat center;
  }

}

.header-cart-text {

  > span {
    display: block;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    line-height: 18px;
  }

  .header-cart-amount {
    font-size: inherit;
    color: inherit;
    font-weight: inherit;
    line-height: inherit;
  }

  a {
    font-size: inherit;
    color: #b7e4ff;
    font-weight: inherit;
    text-decoration: underline;
    line-height: inherit;

    &:hover {
      text-decoration: none;
      color: $color-green-light;
    }

  }

}

.header-cart-cost {
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
}

.to-cart {
  background: linear-gradient(to right, $color-green-light, $color-green-medium);
  border-radius: 8px;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: 500;

  &:hover {
    background: radial-gradient(circle closest-corner at 10px center, $color-orange-light, $color-orange);
  }

}

/* header-panel */

.header-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 50px 60px;
  background: #fff;
}

.header-logo {
  width: 18.5%;
}

.form-search {
  width: 27%;

  span {
    display: block;
    font-weight: 500;
    color: $color-green-dark;
    text-transform: uppercase;
    margin: 0 0 13px 0;
    font-size: 15px;
  }

  label {
    width: calc(100% - 80px);
  }

  input {
    border-radius: 8px 0 0 8px;
    border-right: none;
  }

}

.form-sign-in {
  width: 38%;

  > span,
  .to-sign-up {
    display: inline-block;
    vertical-align: bottom;
    font-weight: 500;
    color: $color-green-dark;
    text-transform: uppercase;
    margin: 0 0 13px 0;
    font-size: 15px;
    background: none;
    border: none;
  }

  .to-sign-up {
    color: #000;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }

  }

  label {
    width: calc(50% - 40px);

    &:first-of-type {

      input {
        border-radius: 8px 0 0 8px;
        border-left: 1px solid #d2dfc6;
        border-right: 1px solid #d2dfc6;
      }

    }

    input {
      border-right: none;
      border-left: 1px solid #fff;
    }

  }

}

.header-panel {

  fieldset {
    font-size: 0;
  }

  label {
    display: inline-block;
    vertical-align: bottom;
  }

  input {
    display: block;
    height: 42px;
    border: 1px solid #d2dfc6;
    background: #eceeeb;
    width: 100%;
  }

  .button-form {
    display: inline-block;
    vertical-align: bottom;
    width: 80px;
    height: 42px;
    border-radius: 0 8px 8px 0;
    border: none;
    background: radial-gradient(circle closest-corner at 10px center, $color-orange-light, $color-orange);
    color: #fff;
    font-size: 14px;
    font-weight: 500;

    &:hover {
      background: linear-gradient(to right, $color-green-light, $color-green-medium);
    }

   }

}

/* account-panel */

.account-panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  position: relative;
  width: 380px;
  margin: 0 0 0 20px;
  flex-shrink: 0;
}

.account-panel-exit {
  position: absolute;
  right: -25px;
  top: -50%;

  a {
    font-size: 14px;
    font-weight: 500;

    &:hover {
      text-decoration: none;
    }

  }

  i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #000;
    font-size: 9px;
    color: #fff;
    margin: 0 0 0 5px;
    transition: .4s;
  }

  &:hover {

    a {
      color: $color-orange;
      text-decoration: none;
    }

    i {
      background: $color-orange;
    }

  }

}

.account-panel-title {
  display: block;
  width: 100%;
  font-weight: 500;
  color: $color-green-dark;
  text-transform: uppercase;
  margin: 0 0 13px 0;
  font-size: 15px;
}

.account-panel-name {
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  font-size: inherit;
}

.account-panel-discount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 180px;
  height: 42px;
  background: #000;
  overflow: hidden;
  border-radius: 8px;
  padding: 0 0 0 20px;
}

.account-discount-icon {
  width: 14px;
}

.account-discount-text {
  font-size: 14px;
  color: #fff;
}

.account-discount-value {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 12px;
  background: $color-green-light;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
}

.account-panel-cabinet {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 180px;
  height: 42px;
  background: #000 radial-gradient(circle closest-corner at 30px center, #008747, #006837);
  overflow: hidden;
  border-radius: 8px;
  padding: 0 15px 0 20px;
  color: #fff;
  text-decoration: none;

  span {
    margin: 0 0 0 10px;
    text-transform: uppercase;
    font-size: 12px;
    color: inherit;
    font-weight: 500;
  }

  i {
    color: inherit;
    font-size: 15px;
    transition: .4s;
  }

  &:hover {
    background: #000;
    color: #fff;

    i {
      color: $color-green-medium;
    }

  }

}

@media(max-width: 1230px) {

  .to-cart {
    font-size: 12px;
    padding: 10px;
  }

  .header-cart-text {

    > span {
      font-size: 12px;
      line-height: 16px;
    }

  }

  .header-cart-icon {
    margin: 0 10px 0 0;
  }

}

@media(max-width: 980px) {

  .header-panel {
    padding: 30px 25px 40px;
  }

  .header-nav {
    padding: 15px 10px;
  }

  .to-cart {
    font-size: 10px;
    padding: 10px;
  }

  .header-cart-text {

    > span {
      font-size: 10px;
      line-height: 14px;
    }

  }

  .header-cart-icon {
    margin: 0 10px 0 0;
  }

  .header-logo {
    width: 20%;
  }

  .form-search {
    width: 30%;
  }

  .form-sign-in {
    width: 40%;
  }

  .account-panel {
    width: 350px;
  }

  .account-panel-exit {
    position: absolute;
    right: 0;
    top: -35%;

    a {
      font-size: 12px;
    }

  }

  .account-panel-discount,
  .account-panel-cabinet {
    width: 165px;
  }

  .account-discount-text {
    font-size: 12px;
  }

  .account-panel-cabinet {

    span {
      font-size: 10px;
    }

  }

}

@media(max-width: 768px) {

  .header-logo {
    width: 35%;
  }

  .form-sign-in {
    width: 50%;

    > span,
    .to-sign-up {
      font-size: 12px;
    }

  }

  .header-nav {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1002;
    justify-content: flex-end;
    padding: 15px 20px;
  }

  .header-panel {
    margin-top: 69px;
    align-items: flex-end;
  }

  .header-cart-text {
    margin: 0 20px 0 0;

    > span {
      font-size: 14px;
      line-height: 18px;
    }

  }

  .to-cart {
    font-size: 14px;
    padding: 10px 20px;
  }

  .form-search {
    display: block;
    width: 100%;
    margin: 20px 0 0 0;

    span {
      color: #fff;
    }

    fieldset {
      font-size: 0;
    }

    label {
      display: inline-block;
      vertical-align: bottom;
    }

    input {
      display: block;
      height: 42px;
      border: 1px solid #d2dfc6;
      background: #eceeeb;
      width: 100%;
    }

    .button-form {
      display: inline-block;
      vertical-align: bottom;
      width: 80px;
      height: 42px;
      border-radius: 0 8px 8px 0;
      border: none;
      background: radial-gradient(circle closest-corner at 10px center, $color-orange-light, $color-orange);
      color: #fff;
      font-size: 14px;
      font-weight: 500;

      &:hover {
        background: radial-gradient(circle farthest-side at 10px center, $color-orange-light, $color-orange);
      }

    }

  }

  .account-panel-exit {
    right: auto;
    left: 0;
    top: 25px;
  }

  .account-panel-title {
    margin: 0 0 40px 0;
  }

}

@media(max-width: 640px) {

  .header-logo {
    width: 65%;
  }

  .header-panel {
    flex-wrap: wrap;
    justify-content: center;
  }

  .form-sign-in {
    width: 100%;
    max-width: 350px;
    text-align: center;
    margin: 20px auto 0;

    > span,
    .to-sign-up {
      font-size: 14px;
    }

    label {
      width: 100%;
      margin: 10px 0;
    }

    input {
      height: 42px;
      font-size: 15px;
      padding: 0 15px;
      border-radius: 8px!important;
      border: 1px solid #d2dfc6!important;
    }

    .button-form {
      height: 42px;
      font-size: 14px;
      width: 100%;
      margin: 10px 0 0 0;
      background: $color-orange;
      border-radius: 8px;
    }

  }

  .account-panel {
    width: 100%;
    max-width: 350px;
    margin: 35px auto 0;
    padding: 0 0 40px;
  }

  .account-panel-title {
    margin: 0 0 13px 0;
    text-align: center;
  }

  .account-panel-exit {
    text-align: center;
    position: absolute;
    right: 0;
    left: 0;
    top: auto;
    bottom: 0;
    margin: auto;

    a {
      font-size: 14px;
    }

  }

  .account-panel-discount,
  .account-panel-cabinet {
    width: 180px;
    margin: 10px auto;
  }

  .account-discount-text {
    font-size: 14px;
  }

  .account-panel-cabinet {

    span {
      font-size: 12px;
    }

  }

}

@media(max-width: 480px) {

  .to-cart,
  .header-cart-text {
    display: none;
  }

}