/*********************************************
*********** order
**********************************************/

.order-item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  position: relative;
  padding-bottom: 30px;
  margin-top: 30px;
  border-bottom: 1px solid #e7e8e7;

  &:first-of-type {
    margin-top: 0;
  }

  h2 {
    width: 100%;
    margin-bottom: 10px;
  }

  input[type="checkbox"] + label {
    align-items: flex-start;
  }

}

.form-required-note {
  font-size: 14px;
  font-style: italic;
  position: absolute;
  top: 0;
  right: 0;
}

fieldset.some-fields {

  &:after {
    content: '';
    display: block;
    clear: both;
  }

  label {
    display: block;
    width: calc(33.33333% - 14px);
    margin: 0 20px 0 0;
    float: left;

    &:nth-of-type(3n) {
      margin: 0;
    }

  }


}

@media(max-width: 640px) {

  h2 {
    text-align: center;
  }

  .form-required-note {
    width: 100%;
    text-align: center;
    position: static;
  }

}