/*********************************************
*********** products
**********************************************/

.products {
  width: calc(100% - 250px);
  padding: 25px 30px 0 30px;

  .nav-pages {
    margin: 30px 0 0 0;
  }

}

.products-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #c6cacc;
  padding: 0 0 15px 0;
}

.products-filter {

  a {
    display: inline-block;
    vertical-align: middle;
    margin: 0 20px 0 0;
    font-weight: 500;
    font-size: 18px;
    color: $color-green-dark;
    text-decoration: none;
    line-height: 1;

    span {
      font-weight: inherit;
      font-size: inherit;
      color: inherit;
    }

    &:hover,
    &.active {
      color: #000;
    }

  }

}

.products-header-controls {

  div {
    display: inline-block;
    vertical-align: middle;
    font-size: 22px;
    color: $color-orange;

    i {
      color: inherit;
    }

    &:hover {
      color: #000;
    }

    &:last-of-type {
      margin: 0 0 0 10px;
    }

  }

}

.products-header-title {
  font-size: 18px;
  color: $color-green-dark;
  font-weight: 500;
}

.products-list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
}

.products-slider {
  display: none;
}

.product-card {
  width: calc(25% - 22.5px);
  border: 1px solid #e7e8e7;
  margin: 30px 30px 0 0!important;
  text-align: center;
  transition: .4s;
  background: #fff;
  position: relative;

  &:nth-of-type(4n) {
    margin: 30px 0 0 0!important;
  }

  h3 a {
    display: inline-block;
    text-decoration: none;

    span {
      display: block;
      font-size: 16px;
      color: $color-orange-dark;
      font-weight: 500;
      text-decoration: underline;
      margin: 2px 0;
    }

    &:hover span {
      text-decoration: none;
      color: #000;
    }

  }

  &:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .25);
  }

  &:hover,
  &:active,
  &:focus {
    outline: none;
  }

}

.product-card-header {
  height: 48px;
}

.product-card-marker {
  display: inline-block;
  vertical-align: top;
  padding: 6px 10px;
  border-radius: 0 0 8px 8px;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  line-height: 1;
}

.marker-best {
  background: radial-gradient(circle closest-corner at 10px center, #f55785, #f14569);
}

.marker-discount {
  background: radial-gradient(circle closest-corner at 10px center, #c7d23c, #b2c12f);
}

.marker-new {
  background: radial-gradient(circle closest-corner at 10px center, #31c1e1, #27abd6);
}

.product-card-image {
  display: block;
  width: 129px;
  height: 129px;
  margin: 0 auto 15px;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid #e7e8e7;
}

.product-rate {
  margin: 10px 0;

  i {
    color: #6baf2d;
  }

}

.product-cost {
  margin: 0 0 10px 0;

  span {
    display: inline-block;
    vertical-align: middle;
    margin: 0 3px;
  }

  .product-cost-new {
    font-size: 20px;

  }

  .product-cost-old {
    color: #babfc2;
    text-decoration: line-through;
  }

}

.product-card-another-cost {
  display: inline-block;
  font-size: 14px;
  color: #6bbc23;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  text-decoration: none;
  margin: 0 0 15px;

  &:after {
    content: '';
    display: block;
    width: 100%;
    border-top: 1px dashed $color-green-light;
  }

  &:hover:after {
    border-top: 1px dashed transparent;
  }

}

.product-card-amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;

  span {
    font-weight: 500;
    font-size: 14px;
  }

  input {
    display: block;
    width: auto;
    max-width: 75px;
    height: 37px;
    border-radius: 8px;
    border: 1px solid #e7e8e7;
    text-align: center;
  }

}

.product-card-parameters {
  display: block;
  padding: 0 20px;
  margin: 15px 0;
  text-align: left;

  li {
    display: block;
    position: relative;
    padding-left: 25px;
    font-size: 12px;
    line-height: 1.2;
    margin: 10px 0;

    &:before {
      content: '\f00c';
      font-family: FontAwesome;
      display: block;
      font-size: 14px;
      color: $color-orange;
      position: absolute;
      left: 0;
      top: -2px;
    }

  }

}

.add-to-cart {
  display: block;
  border-top: 1px solid #e7e8e7;
  padding: 15px 0;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;

  span {
    display: inline-block;
    vertical-align: middle;
  }

  .icon-cart {
    content: '';
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    width: 40px;
    height: 39px;
    background: url(../images/icon-background-orange.png) no-repeat center;
    margin: 0 15px 0 0;
    position: relative;
    top: 0;
    transition: .4s;
    padding-right: 4px;

    img {
      width: 27px;
    }

  }

  &:hover .icon-cart {
    top: -5px;
    background: url(../images/icon-background-green.png) no-repeat center;
  }

}

.product-card-add-to {
  display: block;
  width: 100%;
  background: #e7e8e7;
  padding: 15px 0 15px 20px;
  text-align: left;
  position: absolute;
  left: 0;
  top: 50%;
  transition: .4s ease-out;
  z-index: -1;
  opacity: 0;

  label {
    display: block;
    margin: 0 0 10px 0;
    cursor: pointer;

    &:last-of-type {
      margin: 0;
    }

  }

  i {
    display: inline-flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #d2dfc6;
    color: transparent;
    margin: 0 5px 0 0;
  }

  span {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    font-weight: 500;
    text-transform: none;
  }

  input[type='checkbox'] {
    display: none;
  }

  input[type='checkbox']:checked + i {
    color: $color-green-medium;
  }

}

.product-card.active .product-card-add-to {
  top: 100%;
  opacity: 1;
  z-index: 1;
}

/* page-inner */

.page-inner .products {
  width: 100%;
  padding: 25px 0 0 0;
}

.page-inner .products-header {
  border-bottom: none;
  padding: 0;
}

.page-inner .products-header-controls {
  display: none;
}

.page-inner .product-card {
  width: calc(20% - 24px);
  margin: 15px 30px 0 0!important;

  &:nth-of-type(4n) {
    margin: 15px 30px 0 0!important;
  }

  &:nth-of-type(5n) {
    margin: 15px 0 0 0!important;
  }

}


@media(max-width: 1230px) {

  .product-card-add-to {
    padding: 15px 0 15px 15px;

    i {
      width: 20px;
      height: 20px;
      border-radius: 4px;
    }

    span {
      font-size: 10px;
    }

  }

  .product-card-marker {
    padding: 4px 5px;
    font-size: 10px;
  }

  .product-cost {

    .product-cost-new {
      font-size: 13px;
    }

    .product-cost-old {
      font-size: 10px;
    }

  }

  .product-card-amount {

    span {
      font-size: 12px;
    }

    input {
      max-width: 65px;
    }

  }

}

@media(max-width: 1080px) {

  .product-card,
  .product-card:nth-of-type(4n) {
    width: calc(33.333333% - 20px);
    margin: 30px 30px 0 0!important;
  }

  .product-card:nth-of-type(3n) {
    margin: 30px 0 0 0!important;
  }

  .product-card-amount {

    span {
      font-size: 14px;
    }

    input {
      max-width: 75px;
    }

  }

  .page-inner .product-card {
    width: calc(25% - 22.5px);
    margin: 15px 30px 0 0!important;
  }

  .page-inner .product-card:nth-of-type(4n) {
    margin: 15px 0 0 0!important;
  }

  .page-inner .products-list .product-card ~ .product-card:nth-of-type(4) {
    display: none;
  }

}

@media(max-width: 980px) {

  .products-filter {

    a {
      margin: 0 10px 0 0;
      font-size: 14px;
    }

  }

  .products-header-controls {

    a {
      font-size: 18px;
    }

  }

  .product-card-image {
    width: 100px;
    height: 100px;
  }

  .add-to-cart {

    .icon-cart {
      width: 30px;
      height: 29px;
      background: url(../images/icon-background-orange.png) no-repeat center;
      background-size: cover;
      margin: 0 5px 0 0;

      img {
        width: 20px;
      }

    }

  }

  .product-card,
  .product-card:nth-of-type(3n),
  .product-card:nth-of-type(4n) {
    width: calc(50% - 30px);
    margin: 30px 30px 0 0!important;
  }

  .product-card:nth-of-type(2n) {
    margin: 30px 0 0 0!important;
  }

  .page-inner .product-card,
  .page-inner .product-card:nth-of-type(4n) {
    width: calc(33.333333% - 20px);
    margin: 15px 30px 0 0!important;
  }

  .page-inner .product-card:nth-of-type(3n) {
    margin: 15px 0 0 0!important;
  }

  .page-inner .products-list .product-card ~ .product-card:nth-of-type(3) {
    display: none;
  }

}

@media(max-width: 768px) {

  .products {
    width: 100%;
    order: 1;
  }

  .page-inner .products {
    order: 2;
  }

  .products-slider {
    display: block;
    width: 968px;
    margin-left: calc(50% - 484px);
    padding-bottom: 90px;
    margin-bottom: -90px;

    .slider-track,
    .slick-list {
      overflow: visible!important;
    }

  }

  .products-header {
    border-bottom: none;
  }

  .page-inner .products-header {
    justify-content: center;
  }

  .products-filter {

    a {
      font-size: 13px;
    }

  }

  .products-list {
    display: none;
  }

  .product-card,
  .product-card:nth-of-type(2n),
  .product-card:nth-of-type(3n),
  .product-card:nth-of-type(4n) {
    transition: .4s;
    display: inline-block;
    width: 210px;
    margin: 0 16px 20px!important;
  }

  .product-card {

    &:hover {
      box-shadow: none;
    }

  }

  .page-inner .products-header {
    flex-wrap: wrap;
  }

  .page-inner .products-filter {
    max-width: 300px;

    a {
      font-size: 18px;
    }

  }

  .page-inner .products-header-controls {
    display: block;
    width: 100%;
    text-align: center;
    margin: 15px 0 0;
  }

  .page-inner .products-slider {
    width: 740px;
    margin-left: calc(50% - 370px);
  }

  .page-inner .product-card,
  .page-inner .product-card:nth-of-type(2n),
  .page-inner .product-card:nth-of-type(3n),
  .page-inner .product-card:nth-of-type(4n),
  .page-inner .product-card:nth-of-type(5n) {
    width: auto;
    margin: 15px 16px!important;
  }

}

@media(max-width: 480px) {

  .products-header {
    flex-wrap: wrap;
    text-align: center;
  }

  .products-filter {
    width: 100%;

    a {
      font-size: 18px;
      margin: 5px 10px;
    }

  }

  .products-header-controls {
    width: 100%;
    margin-top: 15px;

    a {
      font-size: 22px;
      margin: 10px;
    }

  }

  .products-slider {
    width: 726px;
    margin-left: calc(50% - 363px);
  }

  .page-inner .products {
    padding: 25px 20px 0;
  }

}