/*********************************************
*********** promo
**********************************************/

.promo {
  padding: 30px 25px 20px;

  h1 {
    font-weight: 500;
    color: $color-green-dark;
    font-size: 18px;
  }

  p {
    font-weight: 300;
    line-height: 26px;
    margin: 10px 0;
  }

}