/*********************************************
*********** slider-banner
**********************************************/

.slider-banner {
  width: 100%;
  position: relative;
  background: #ecf4fc;
  padding: 0 10px;
  border-bottom: 2px solid #fff;
  z-index: 1;

  .slick-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2px;
    width: 40px;
    height: 39px;
    background: url(../images/icon-background-black.png) no-repeat center;
    border: none;
    font-size: 0;
    color: transparent;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    z-index: 1;
    cursor: pointer;
    transition: .4s;
    opacity: 0;

    &:after {
      content: '\f054';
      font-family: FontAwesome;
      display: block;
      font-size: 20px;
      color: $color-green-light;
      transition: .4s;
    }

    &:hover {
      background: url(../images/icon-background-green.png) no-repeat center;

      &:after {
        color: #fff;
      }

    }

  }

  .slick-prev {
    left: -60px;
    transform: rotate(180deg);

    &:active {
      left: -65px;
    }

  }

  .slick-next {
    right: -60px;

    &:active {
      right: -65px;
    }

  }

  .slide-banner:hover,
  .slide-banner:active,
  .slide-banner:focus {
    outline: none;
  }

  &:hover .slick-arrow {
    opacity: 1;
  }

  @media(max-width: 1400px) {
     padding: 0 50px;

    .slick-arrow {
      opacity: 1;
    }

    .slick-prev {
      left: 10px;

      &:active {
        left: 5px;
      }

    }

    .slick-next {
      right: 10px;

      &:active {
        right: 5px;
      }

    }

  }

  @media(max-width: 480px) {
    padding: 50px 10px 0;

    .slick-prev {
      left: calc(50% - 50px);
      bottom: auto;
      top: 10px;

      &:active {
        left: calc(50% - 55px);
      }

    }

    .slick-next {
      left: calc(50% + 10px);
      right: auto;
      bottom: auto;
      top: 10px;

      &:active {
        right: auto;
        left: calc(50% + 15px);
      }

    }

  }

}

.slide-banner {
  margin: 20px 10px;
}